.hero {
  padding-block: 150px 65px;
  background: var(--blue-color);
}

.heroGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 50px;
}

.heroGrid h1 {
  color: #fff;
  font-weight: 400;
  line-height: normal; /* 150% */
}

.heroGrid h6 {
  color: #f1f1f1;
  font-weight: 400;
  line-height: normal;
  margin-block: 15px 40px;
}

.heroGrid img {
  margin-inline: auto;
  max-width: 493.858px;
  max-height: 423px;
  width: 100%;
}

.btnWrapper {
  display: flex;
  gap: 25px;
}

@media screen and (max-width: 991px) {
  .hero {
    padding-top: 120px;
  }

  .heroGrid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .btnWrapper {
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .btnWrapper {
    flex-direction: column;
    max-width: 300px;
    margin-inline: auto;
  }
  .heroGrid img {
    height: unset;
  }
}
