@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 16px;
  background: #fff;
}

:root {
  --white-color: #fff;
  --green-color: #049a5b;
  --blue-color: #0a2640;
  --grey-color: #dddddd;
}

.lightTheme {
  --primary-color: var(--white-color);
  --secondary-color: var(--blue-color);
}

.darkTheme {
  --primary-color: var(--blue-color);
  --secondary-color: var(--white-color);
}

/* SCROLLBAR Customizations */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background-clip: content-box;
  background-color: rgba(0, 0, 0, 0);
  width: 20px;
}

::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  background-color: var(--orange-color);
  border-radius: 2px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  color: #fff;
}

img {
  -webkit-user-drag: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1rem;
}
h1 {
  font-size: 3rem; /* 48px */
}
h2 {
  font-size: 2.25rem; /* 36px */
}
h3 {
  font-size: 1.375rem; /* 22px */
}
h4 {
  font-size: 1.25rem; /* 20px */
}
h5 {
  font-size: 1.125rem; /* 18px */
}
h6 {
  font-size: 1rem; /* 16px */
}
p {
  font-size: 0.875rem; /* 14px */
}
ul {
  list-style: none;
  padding: 0;
}

section {
  margin-bottom: 150px;
}

/* ---------- Swiper slides styling for continuity ---------- */

.swiper {
  margin-top: 2rem;
}

.swiper-wrapper {
  position: relative;
  transition-timing-function: linear !important;
  -webkit-transition-timing-function: linear !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

/* ---------- Swiper slides styling for continuity ---------- */

@media screen and (max-width: 991px) {
  section {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 567px) {
  html {
    font-size: 12px;
  }
}
